* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  background: black;
}

a {
  color: inherit;
}

.main-layout {
  --color: rgb(0, 145, 255);
  padding: 1rem;
  border: 5px dashed var(--color);
  height: 100vh;
}

.main-layout > *:not(.main-layout-children) {
  color: var(--color);
  font-weight: 700;
}

.main-layout-children {
  --color: #9dcb68;
  border: 5px dashed var(--color);
  margin: 2rem;
  padding: 1rem;
}

.main-layout-children::before {
  content: 'children';
  font-weight: 700;
  color: var(--color);
  translate: -.5rem -.7rem;
  display: inline-block;
}